<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenbulb.webproject.dao.AdminReviewFormMapper">
    <resultMap id="BaseResultMap" type="com.sevenbulb.webproject.entity.UserForm">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tool_title" jdbcType="VARCHAR" property="tool_title"/>
        <result column="tool_description" jdbcType="LONGVARCHAR" property="tool_description"/>
        <result column="type_of_tool" jdbcType="VARCHAR" property="type_of_tool"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="contributor" jdbcType="VARCHAR" property="contributor"/>
        <result column="email_address" jdbcType="VARCHAR" property="email_address"/>
        <result column="source_of_tool" jdbcType="VARCHAR" property="source_of_tool"/>
        <result column="url_link_to_tool" jdbcType="VARCHAR" property="url_link_to_tool"/>
        <result column="upload_file" jdbcType="VARCHAR" property="upload_file"/>
        <result column="upload_image" jdbcType="VARCHAR" property="upload_image"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="theme" jdbcType="VARCHAR" property="theme"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
        <result column="countries" jdbcType="VARCHAR" property="countries"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="languages" jdbcType="VARCHAR" property="languages"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="approval_status" jdbcType="INTEGER" property="approval_status"/>
        <result column="year_of_publication" jdbcType="INTEGER" property="year_of_publication"/>
        <result column="display_contributor" jdbcType="INTEGER" property="display_contributor"/>
        <result column="other_organization" jdbcType="VARCHAR" property="other_organization"/>
        <result column="other_theme" jdbcType="VARCHAR" property="other_theme"/>
        <result column="other_type" jdbcType="VARCHAR" property="other_type"/>
        <result column="other_languages" jdbcType="VARCHAR" property="other_languages"/>
        <result column="other_industry" jdbcType="VARCHAR" property="other_industry"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sevenbulb.webproject.entity.UserForm">
        <result column="form_detail_content" jdbcType="LONGVARCHAR" property="formDetailContent"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select *
        from submit
        where id = #{id}
    </select>
    <select id="findFormList" resultType="com.sevenbulb.webproject.entity.UserForm">
        select
        *
        from submit
        order by id desc
        <!--        <if test="start!=null and limit!=null">-->
        <!--            limit #{start},#{limit}-->
        <!--        </if>-->
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.sevenbulb.webproject.entity.UserForm">
        update submit
        <set>
            <if test="tool_title!= null">
                tool_title=#{tool_title},
            </if>
            <if test="tool_description != null">
                tool_description=#{tool_description},
            </if>

            <if test = "type_of_tool != null">
                type_of_tool = #{type_of_tool}
            </if>
            <if test = "company != null">
                company = #{company}
            </if><if test="contributor != null">
                contributor=#{contributor},
            </if>
            <if test="email_address != null">
                email_address=#{email_address},
            </if>
            <if test="source_of_tool!= null">
                source_of_tool=#{source_of_tool},
            </if>
            <if test="url_link_to_tool != null">
                url_link_to_tool=#{url_link_to_tool},
            </if>
            <if test="upload_file != null">
                upload_file=#{upload_file},
            </if>
            <if test="upload_image != null">
                upload_image=#{upload_image},
            </if>
            <if test="industry != null">
                industry=#{industry},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="theme != null">
                theme=#{theme},
            </if>
            <if test="organization != null">
                organization=#{organization},
            </if>
            <if test="countries != null">
                countries=#{countries},
            </if>
            <if test="region != null">
                region=#{region},
            </if>
            <if test="languages != null">
                languages=#{languages},
            </if>
            <if test="create_time != null">
                create_time=#{create_time},
            </if>
            <if test ="approval_status != null">
                approval_status = #{approval_status}
            </if>
            <if test="year_of_publication != null">
                year_of_publication = #{year_of_publication},
            </if>
            <if test="display_contributor != null">
                display_contributor = #{display_contributor},
            </if>
            <if test="other_organization != null">
                other_organization = #{other_organization},
            </if>
            <if test="other_theme != null">
                other_theme = #{other_theme},
            </if>
            <if test="other_type != null">
                other_type= #{other_type},
            </if>
            <if test="other_languages != null">
                other_languages =#{other_languages},
            </if>
            <if test="other_industry != null">
                other_industry = #{other_industry},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="batchFormStatus">
        update submit
        set approval_status=#{formStatus} where id in (#{id})

    </update>
</mapper>