<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenbulb.webproject.dao.CountryCategortMapper">
    <resultMap id="BaseResultMap" type="com.sevenbulb.webproject.entity.CountryCategory">
        <id column="country_id" jdbcType="BIGINT" property="countryId"></id>
        <result column="country_name" jdbcType="VARCHAR" property="countryName"></result>
    </resultMap>
    <select id="getCountryList" parameterType="Map" resultMap="BaseResultMap">
        select *
        from country
        ORDER BY country_name asc
    </select>
    <select id="getTotalCountryCount" parameterType="Map" resultType="int">
        select count(*)
        from country
    </select>
    <select id="selectByCountryId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select country_name
        from country
        where country_id = #{countryId}
    </select>
    <insert id="insert" parameterType="com.sevenbulb.webproject.entity.CountryCategory">
        INSERT INTO country (country_name) VALUES (#{countryName})
    </insert>
    <insert id="insertSelective" parameterType="com.sevenbulb.webproject.entity.CountryCategory">
        INSERT INTO country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="countryName != null">
                country_name
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{countryName}
        </trim>
    </insert>
    <select id="selectByCountryName" resultMap="BaseResultMap">
        SELECT country_name FROM country WHERE country_name=#{countryName}
    </select>
</mapper>
