<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sevenbulb.webproject.dao.RegionCategoryMapper">
    <resultMap id="BaseResultMap" type="com.sevenbulb.webproject.entity.RegionCategory">
        <id column="region_id" jdbcType="BIGINT" property="regionId"></id>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"></result>
        <result column="country_id" jdbcType="BIGINT" property="countryId"></result>
    </resultMap>
    <select id="getRegionList" parameterType="Map" resultMap="BaseResultMap">
        select *
        from region
        ORDER BY region_name asc
    </select>
    <select id="getTotalRegionCount" parameterType="Map" resultType="int">
        select count(*)
        from region
    </select>
    <select id="selectByRegionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select region_name,region_id
        from region
        where region_id = #{regionId}
    </select>
    <insert id="insert" parameterType="com.sevenbulb.webproject.entity.RegionCategory">
        INSERT INTO region (region_name,country_id) VALUES (#{regionName},#{countryId})
    </insert>
    <insert id="insertSelective" parameterType="com.sevenbulb.webproject.entity.RegionCategory">
        INSERT INTO region (region_name,country_id) values (#{regionName},#{countryId})
      <!--  INSERT INTO region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionName != null">
                region_name
            </if>
            <if test="countryId != null">
                country_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionName != null">
                #{regionName}
            </if>
            <if test="countryId != null">
                #{countryId}
            </if>
        </trim>-->
    </insert>
    <select id="selectByRegionName" resultMap="BaseResultMap">
        SELECT region_name FROM region WHERE region_name=#{regionName}
    </select>
</mapper>